.wordfile_container{
    height: 100vh;
    width:100vw;
    background-color: rgb(249, 251, 253);
}
.header{
    display:flex;
    /* border: 1px solid red; */
    justify-content: space-between;
    align-items: center;
}
.filelogo{
    display: flex;
    margin-left: 10px;
    margin-top: 10px;

}
.nameandmenu{
display: flex;
flex-direction: column;
width:65%;
/* border: 1px dashed blue */
}
.filenamemenubar{
display: flex;
height: 50%;
/* border: 0.2px solid palegreen */
}
.filename{
    display: flex;
    font-size: 1rem;
    width:fit-content;
    padding: 2px 6px;
}
.filename:hover{
    /* border: 0.5px solid rgb(32, 32, 32); */
    border:1px solid;
    border-radius: 4px;
}
.topicons{
    display: flex;
}
.icons{
    display: flex;
    margin: 5px;
    height:auto;
    width:auto;
    margin: 0 2px;
    /* border: 1px solid rgb(44, 202, 176); */
}
.icons:hover{
    /* border: 1px solid; */
    border-radius: 50%;
}
.iconfilemenubar{
    height: 20px;
    width: 20px;
    padding: 3px 5px;
}
.iconfilemenubar:hover{
    /* border: 1px thin ; */
    border-radius: 50%;
    background-color:rgb(193, 195, 199) ;
}



.menubutton{
    display: flex;
    border:0;
    padding: 5px 4px;
    font-size: 0.9rem;
    font-weight: 540;
    margin: 0 4px;
    background-color:rgb(249, 251, 253) ;
}
.menubutton:hover{
    /* border:1px solid; */
    border-radius: 5px;
    background-color:rgb(193, 195, 199) ;
}
.menubtn{
    display: flex;
    /* border: 1px solid yellow; */
}
.rightsideicons{
    display: flex;
    width: 13%;
    justify-content: space-around;
    align-items: center;

}
.clock{
    display: flex;
    height: 30px;
    width: 30px;
    padding: 8px;
    margin-top: 5px;
    /* align-items: center; */
    /* justify-content: center; */

}
.clock:hover{
    border-radius: 50%;
    background-color:rgb(193, 195, 199) ;
   
}
.video{
    display: flex;
    height: 30px;
    width: 30px;
    padding: 4px 7px;
    margin-top: 5px;
}
.clock1{
    display: flex;
    height: 15px;
    width: 15px;
    padding: 7px 7px;
    margin-top: 12px;
}
.videomcam{
    display: flex;
    height:40px ;
}
.videomcam:hover{
    border-radius: 10px;
    background-color: rgb(193, 195, 199);
}
.Share{
    display: flex;
    font-size: 1.2rem;
    align-items: center;
    justify-content: space-around;
    border-radius: 20px;
    height: 40px;
    width: 80px;
    background-color: rgb(194,231,255);
    padding: 2px;
    margin: 0px;
}
.Share:hover{
    background-color:rgb(193, 195, 199);
}

.username{
    display: flex;
    font-size: 1.2rem;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    align-items: center;
    justify-content: space-around; 
    margin:0px;
    margin-right: 20px;
    background-color: rgb(194,231,255);

}
.username:hover{
    background-color:rgb(193, 195, 199);
}
.tools{
    display:flex;
    height: 40px;
    width: 96%;
    margin: 0 2%;
    background-color: rgb(237,242,250);
    border-radius: 20px;
    align-items: center;
    /* justify-content: space-around; */
}
.tool1{
    display: flex;
    width:auto;
    margin-left: 15px;
    border-right: 1px solid;
    justify-content: flex-start;
    padding: 0 6px;
}
.undo{
    height: 20px;
    width: 20px;
    border-radius: 50%;
    padding: 5px 6px;
}
.undo:hover{
    background-color:rgb(193, 195, 199);
}

.redo{
    height: 20px;
    width: 20px;
    border-radius: 50%;
    padding: 5px 6px;
}
.redo:hover{
    background-color:rgb(193, 195, 199);
}
.printer{
    height: 20px;
    width: 20px;
    border-radius: 50%;
    padding: 5px 6px;
}
.printer:hover{
    background-color:rgb(193, 195, 199);
}
.painter{

    height: 20px;
    width: 20px;
    border-radius: 50%;
    padding: 5px 6px;
}
.painter:hover{
    background-color:rgb(193, 195, 199);
}
.zoom{
   height: 35px;
   padding: 2px 6px;
}
.zoom:hover{
    background-color:rgb(193, 195, 199);
    border: 0;
    border-radius: 5px;
}
.textstyle{
    border:0;
    background-color: rgb(237,242,250);
    font-size: 15px;
    margin: 0 4px;
    padding: 6px 6px;
    border-right: 1px solid;
}
.textstyle:hover{
    background-color:rgb(193, 195, 199);
    border: 0;
    border-radius: 5px;
}

.fontsize{
    display: flex;
   /* border-right: 1px solid; */
   height: 20px;
   width: auto;
   align-items: center;
   justify-content: space-between;
   border-right:1px solid;
   padding: 6px;

}

.decrement{
   /* font-size: 18px; */
    border-radius: 5px;
    height: 20px;
    width: 20px;
    align-items: center;
    justify-content: center;
    padding: 2px;
}
.decrement:hover{
    background-color: rgb(193, 195, 199);
}
  .Fontsize{
    font-size: 15px;
    font-weight: bold;
} 
.increment{
    border-radius: 5px;
    height: 20px;
    width: 20px;
 padding: 2px; 
}
.increment:hover{
    background-color: rgb(193, 195, 199);
}
.iconclass{
    display: flex;
    border-right:1px solid;
    height: 20px;
    width:auto;
    justify-content: center;
    align-items: center;
    padding: 6px;
    
}
.icons{
    height: 20px;
    width: 20px;
    margin:0;
 padding: 0;
 
}
.icons:hover{
    border-radius: 5px;
    background-color: rgb(193, 195, 199);
}
.image{
    display: flex;
    border-right:1px solid;
    height: 20px;
    width:auto;
    justify-content: center;
    align-items: center;
    padding: 6px;
}
.lineformat{
    display: flex;
    /* border-right:1px solid; */
    height: 20px;
    width:auto;
    justify-content: center;
    align-items: center;
    padding: 10px;
}
.down{
    height: 12px;
    width: 12px;
    margin:0;
 padding: 3px;
}
.down:hover{
    border-radius: 5px;
    background-color: rgb(193, 195, 199);
}
.rightside{
    margin-left: 8%;
    display: flex;
    padding-right: 15px;
    margin-right: 6px;
    border-right: 1px solid;
}
.lnformat{
    display: flex;
    padding: 4px;
}

.textareacontainer{
    margin: 20px 0px 5px 10px;
    display: flex;
    border:1px solid;
    padding:15px;
    justify-content: center;
}
.inputfield{
    display: flex;
    font-size: 16px;
    min-width:70%;
    padding-left: 8%;
    padding-top: 10%;
    height: 100vh;
    border:none;
    box-shadow: 0 0 5px 0; 
    outline: none;
}

